
@{
    ViewBag.Title = "ConfirmaVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConfirmaVenta</h2>

<div class="container dvConfirmaVenta">


    <h4 class="modal-title">¡Disfrutarás la experiencia de viajar!</h4>


    <!-- Modal body -->
    <div class="modal-body">
        <label>Nombre(s)</label>
        <input placeholder="Nombre del viajero" class="inNombre form-control" />
        <label>Apellidos</label>
        <input placeholder="Apellidos del viajero" class="inApellido form-control" />
        <label>Correo:</label>
        <input placeholder="Correo del viajero" class="inCorreo form-control" />
        <label>Los boletos serán enviados a este correo al finalizar la compra</label>
        <label>Confirmar correo:</label>
        <input placeholder="confirmar Correo del viajero" class="inCCorreo form-control" />
    </div>


    <button id="btnComparte" class="btn btn-primary col-3 btnComparte">Confirmar</button>


</div>



           
        
      





