
@{
    ViewBag.Title = "DetalleVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="hDest">Detalla tu destino ~ </h2>

<div id="dvBar" class="col-12 mb-5">
    <div id="ulMen" class="container col-12">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <select class="form-control" id="selSalida">
                    <option value="0">¿De dónde salimos?</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <select class="form-control" id="selFechas">
                    <option value="0">Fechas</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <input class="form-control" type="number" id="inAdultos" name="quantity" min="1" placeholder="Adultos">
            </div>
            <div class="col-lg-3 col-md-6">
                <input class="form-control" type="number" id="inNinos" name="quantity" min="1" placeholder="Niños">
            </div>
        </div>
        <div class="row mt-4 d-flex justify-content-center">
            <div class="btn d-flex form-control col-6 justify-content-center btn-primary btnBuscar">Buscar</div>
        </div>
    </div>
</div>

<div class="container col-12">
    <div class="row dvOp">

    </div>
</div>
<script src="~/Scripts/Project/jsDetalleVenta.js"></script>
<link href="~/Content/Project/cssDetalleVenta.css" rel="stylesheet" />
<input type="hidden" id="urlinicialDetVent" value="@Url.Action("InicioDetVenta","Venta")" />
<input type="hidden" id="urlObtieneProp" value="@Url.Action("ObtienePropuestas","Venta")" />
<input type="hidden" id="urlRecuperaFechas" value="@Url.Action("RecuperaFechasVen","Venta")" />