
@{
    ViewBag.Title = "DetalleVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalla tu destino</h2>

<div id="dvBar" class="col-12 mb-5">
    <div id="ulMen" class="container col-12">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <select class="form-control" id="selSalida">
                    <option value="0">¿De dónde salimos?</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <select class="form-control" id="selFechas">
                    <option value="0">Fechas</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <select class="form-control" id="selAdultos">
                    <option value="0">Adultos</option>
                </select>
            </div>
            <div class="col-lg-3 col-md-6">
                <select class="form-control" id="selNinos">
                    <option value="0">Ninos</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container col-12">
    <div class="row">
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="http://www.hotelelparque.com/wp-content/uploads/2017/11/habitacion-sencilla-fomeque.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Habitacion sencilla</h4>
                            <h3>Costo:</h3>
                            <h2>$4,100</h2>
                            <div class="btn btn-primary">ELIJE ESTE VIAJE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="http://www.reserva-ejemplo.com/WebRoot/StoreES2/Shops/reserva-ejemplo/4A15/80A3/09AD/6954/8853/52DF/A338/FB03/roomdoble.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Habitación doble</h4>
                            <h3>Desde:</h3>
                            <h2>$3,600</h2>
                            <div class="btn btn-primary">ELIJE ESTE VIAJE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="http://www.ghtiberio.com/wp-content/uploads/sites/352/2015/10/quadrupla5.jpg" class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Habitación triple</h4>
                            <h3>Desde:</h3>
                            <h2>$3,600</h2>
                            <div class="btn btn-primary">ELIJE ESTE VIAJE</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>