
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Selecciona tus asientos</h2>
<div id="dvAsientos">
    <div id="dvVacio"></div>
    <div id="dvOcupado"></div>
    <div id="dvSeleccion"></div>
</div>
<div id="dvAutobus">
    <label>@ViewData["idDestino"]</label>
    <ul id="ulPrimerAsiento">
        <li id="a1">
        </li>
        <li id="a2">

        </li>
        <li id="a3">

        </li>
    </ul>
    <ul id="ulIzq">
        <li>
            <ul>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </li>
    </ul>
    <ul id="ulAtras">
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
    </ul>
    <ul id="ulArriba">
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
    </ul>
</div>

<script src="~/Scripts/Project/jsVenta.js"></script>
<link href="~/Content/Project/cssVenta.css" rel="stylesheet" />