
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="hdes">Vámonos a </h2>

<div id="dvDer" class="container col-4">
    <div class="row col-12">
        <label id="txCen">Seleccione sus asientos</label>
    </div>
    <div class="row col-12 d-flex justify-content-around mt-3">
        <div id="dvLibre" class="col-2">
            <label class="txAs" id="txLib">Libre</label>
        </div>
        <div id="dvOcupado" class="col-2">
            <label class="txAs" id="txOc">Ocupado</label>
        </div>
        <div id="dvSelec" class="col-2">
            <label class="txAs" id="txSel">Seleccionado</label>
        </div>
    </div>
    <div class="btn btn-primary row col-10 mt-5" id="btContinuar">Continuar</div>
</div>
<div id="dvTransporte">
    <ul id="ulIzq">
    </ul>
    <ul id="ulDer">
    </ul>
    <ul id="ulAtras">
    </ul>
</div>

<label id="txDis">Asientos Totales: </label>


<!--
<div id="dvAutobus">
    <label>@ViewData["idDestino"]</label>
    <ul id="ulPrimerAsiento">
        <li id="a1">
        </li>
        <li id="a2">

        </li>
        <li id="a3">

        </li>
    </ul>
    <ul id="ulIzq">
        <li>
            <ul>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </li>
        <li>
            <ul>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </li>
    </ul>
    <ul id="ulAtras">
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
    </ul>
    <ul id="ulArriba">
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
        <li>

        </li>
    </ul>
</div>-->

<script src="~/Scripts/Project/jsVenta.js"></script>
<link href="~/Content/Project/cssVenta.css" rel="stylesheet" />
<input type="hidden" id="urlinicialTrans" value="@Url.Action("InicialVenta","Venta")" />