@using MercadoPago.Resources;
@{
    ViewBag.Title = "Pago";
    Preference preference = new Preference();
    preference = ViewData["pref"] as Preference;
}

<h2>Realización del pago</h2>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Pago en efectivo
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row mt-2 ml-2">
                    Para un pago en efectivo, usted deberá realizar un depósito a la información presentada abajo, en un plazo de dos días hábiles para apartar su lugar y no perderlos, una vez realizado el depósito, deberá entrar a la opcion "Mi cuenta" y dar de alta su comprobante de pago al viaje que usted programó.
                </div>
                <div class="row mt-2 ml-2">
                    <ul>
                        <li>
                            Banco : BBVA Bancomer.
                        </li>
                        <li>
                            Beneficiario : Antony Alan Garcia Garcia.
                        </li>
                        <li>
                            Tarjeta : 4152 3135 2117 5260.
                        </li>
                        <li>
                            Clave : 012180011493560371.
                        </li>
                        <li>
                            Cuenta : 1149356037.
                        </li>
                    </ul>
                </div>
                <div class="row mt-2 ml-2">
                    <ul>
                        <li>
                            Banco : HSBC.
                        </li>
                        <li>
                            Beneficiario : Karen Jeraldy Garcia Garcia.
                        </li>
                        <li>
                            Tarjeta : 4152 3135 2117 5260.
                        </li>
                        <li>
                            Clave : 012180011493560371.
                        </li>
                        <li>
                            Cuenta : 6448 005250.
                        </li>
                    </ul>
                </div>
                <button class="btn btn-primary form-control mt-4 btRe">Apartar pago en efectivo</button>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Pago en línea
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row dvAs ml-3">

                </div>
                <div class="row dvTot ml-3 mb-3">
                    Su total es de : @ViewData["dCosto"];                    
                </div>
                <form class="ml-3">
                    <div id="paypal-button-container"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                    Pendiente de pago
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row mt-2 ml-2">
                    Al seleccionar esta opción, deja apartado su lugar, deberá cubrir el pago en un periodo no mayor a x dias o perdera sus lugares.
                </div>
                <button class="btn btn-primary form-control mt-4 btRe">Apartar lugares</button>
            </div>
        </div>
    </div>

</div>




<!-- Inicio modal datos pago-->
<div id="modalDatosPago" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Datos de la tarjeta</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <div>
                        <label for="numTarjeta">Numero de tarjeta</label>
                        <input type="text" style="text-transform: uppercase" class="form-control form-control-rounded" name="numTarjeta" id="idnumTarjeta" type="number" data-validation="custom required" required />
                        <!--    <span class="error text-danger" id="nombreModalerror">Favor de completar este campo</span>-->
                    </div>
                    <br>
                    <div>
                        <label for="tipo">Tipo</label>
                        <select class="form-control form-control-rounded" name="tipo" id="idTipoTarjeta">
                            <option value="0">Selecciona una opción</option>
                            <option value="visa">Visa</option>
                            <option value="mastercard">MasterCard</option>
                        </select>
                        <!--   <span class="error text-danger" id="AppPatModalerror">Favor de completar este campo</span>-->
                    </div>
                    <br>
                    <div>
                        <label for="mesVencimiento">Mes de vencimiento</label>
                        <select class="form-control form-control-rounded" name="mesVencimiento" id="idmesVencimiento">
                            <option value="0" selected>Selecciona una opción</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div>
                        <label for="añoVencimiento">Año de vencimiento</label>
                        <select class="form-control form-control-rounded" name="añoVencimiento" id="idañoVencimiento">
                            <option value="0" selected>Selecciona una opción</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                            <option value="2031">2031</option>
                        </select>
                    </div>

                    <div>
                        <label for="codigoSeguridad">Código de seguridad</label>
                        <input type="password" class="form-control form-control-rounded" name="codigoSeguridad" id="idcodigoSeguridad" type="number" data-validation="custom required" required />
                        <!--    <span class="error text-danger" id="nombreModalerror">Favor de completar este campo</span>-->
                    </div>
                    <br>

                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" id="btnEnviarDatosTarjeta">Pagar ahora</button>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Fin modal servidores por nombre -->



<script src="https://www.paypal.com/sdk/js?client-id=AXlRWClFz40ZJwmEKZPPsqgmz-OuFXTPB8J4Li5q_DNmYaMG-sBdmTnobfCygDv_2lcV6Y2v2spsV2oi&currency=MXN">
 // Required. Replace SB_CLIENT_ID with your sandbox client ID.
</script>
<script src="~/Scripts/Project/jsPago.js"></script>
<script type="text/javascript" src="https://js.openpay.mx/openpay.v1.min.js"></script>

<input type="hidden" id="urlConfirmarPago" value="@Url.Action("ConfirmarPago","Venta")" />
<input type="hidden" id="urlConfirmarPago2" value="@Url.Action("ConfirmarPago2","Venta")" />
