
@{
    ViewBag.Title = "Pago";
}

<h2>Realizacion del pago</h2>

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Pago en efectivo
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row mt-2 ml-2">
                    Para un pago en efectivo, usted debera realizar un deposito a la informacion presentada abajo en un plazo de dos dias habiles para apartar su lugar y no perderlos, una vez realizado el deposito, debera entrar a la opcion mi cuenta y dar de alta su comprobante de pago al viaje que usted programo.
                </div>
                <div class="row mt-2 ml-2">
                    Cuenta : x
                </div>
                <button class="btn btn-primary form-control mt-4">Apartar pago en efectivo</button>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Pago en línea
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">


            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                    Pendiente de pago
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="row mt-2 ml-2">
                    Al seleccionar esta opcion, deja apartado su lugar, debera cubrir el pago en un periodo no mayor a x dias o perdera sus lugares.
                </div>
                <button class="btn btn-primary form-control mt-4">Apartar lugares</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Project/jsPago.js"></script>