
@{
    ViewBag.Title = "SeleccionVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Selecciona tu experiencia</h2>
<div class="container col-12">
    <div class="row">
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Huasteca Potosina</h4>
                            <h3>Desde:</h3>
                            <h2>$3,600</h2>
                            <div class="btn btn-primary">ELIJE ESTE VIAJE</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <img class="col-12 m-auto" src="~/Img/Ventas/Salidas.PNG" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Toluca</h4>
                            <h3>Desde:</h3>
                            <h2>$3,600</h2>
                            <div class="btn btn-primary">ELIJE ESTE VIAJE</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <img class="col-12 m-auto" src="~/Img/Ventas/Salidas.PNG" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="..." class="card-img" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title">Riviera</h4>
                            <h3>Desde:</h3>
                            <h2>$3,600</h2>
                            <div class="btn btn-primary">ELIJE ESTE VIAJE</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <img class="col-12 m-auto" src="~/Img/Ventas/Salidas.PNG" />
                </div>
            </div>
        </div>
    </div>
    

</div>