
@{
    ViewBag.Title = "SeleccionVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Selecciona tu experiencia</h2>
<label></label>
<div class="container col-12">
    <div class="row dvCards">
        
    </div>
</div>
<script src="~/Scripts/Project/jsSeleccionVenta.js"></script>
<input type="hidden" id="urlinicialSelVent" value="@Url.Action("InicioSelecVenta","Venta")" />

<link href="~/Content/Project/cssSeleccionVenta.css" rel="stylesheet" />
