
@{
    ViewBag.Title = "TravelRegistro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-3">Se parte de nosotros, estás a solo un paso de formar parte de esta experiencia</h2>
<div class="container">
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Nombre(s)" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Apellido(s)" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Género" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Cumpleaños" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="País" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Estado" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Municipio" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Teléfono" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Confirmar Teléfono" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Correo" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Confirmar Correo" />
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Contraseña" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Confirmar Contraseña" />
        </div>
    </div>
    <div class="row mb-4 d-flex justify-content-end">
        <div class="btn btn-primary col-3">
            REGISTRARME
        </div>
    </div>
    <div class="row mb-4 d-flex justify-content-end">
        <div class="btn">
            Al confirmar, aceptas nuestros Términos y condiciones
        </div>
    </div>
</div>
