
@{
    ViewBag.Title = "TravelRegistro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-3">Se parte de nosotros, estás a solo un paso de formar parte de esta experiencia</h2>
<div class="container">
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Nombre(s)" id="inNom" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Apellido(s)" id="inApp" />
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Género" id="inGen"/>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Cumpleaños" id="inCumple"/>
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="País" id="inPais"/>
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Estado" id="inEstado"/>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Municipio" id="inMuni"/>
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Teléfono" id="inTel"/>
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Confirmar Teléfono" id="inTel2"/>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Correo" id="inCorreo"/>
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Confirmar Correo" id="inCorreo2"/>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-4">
            <input class="form-control" placeholder="Contraseña" id="inContra"/>
        </div>
        <div class="col-4">
            <input class="form-control" placeholder="Confirmar Contraseña" id="inContra2"/>
        </div>
    </div>
    <div class="row mb-4 d-flex justify-content-end">
        <div class="btn btn-primary col-3" id="btnRegistro">
            REGISTRARME
        </div>
    </div>
    <div class="row mb-4 d-flex justify-content-end">
        <div class="btn">
            Al confirmar, aceptas nuestros Términos y condiciones
        </div>
    </div>
</div>
<script src="~/Scripts/Project/jsLogueo.js"></script>
<input type="hidden" id="urlRegistro" value="@Url.Action("RegistrarUsuario","Logueo")" />