
@{
    ViewBag.Title = "Blog";
}


<link href="~/Content/Project/cssBlog.css" rel="stylesheet" />
<div class="container mt-5">
    <div class="row dvValues ">

        <div id="modalDetalle" class="modal fade" role="dialog">
            <div id="detalle" class="modal-dialog">
                <!-- Contenido del modal -->
                <div class="modal-content">
                    <div class="modal-header">
                        <label class="modalTitulo"></label>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p id="texto"></p>
                        <img id="imagenModal" width="827" height="350">
                    </div>
                    <div>
                        <label class="modalAutor">Jorge López Sánchez</label>
                    </div>
                    <div>
                        <label class="modalFecha">123</label>
                    </div>
                    <div class="modal-footer">

                        <!--<button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>-->
                    </div>
                </div>
            </div>
        </div>


    </div>
<div class="row col-12">
        <div class="col-lg-6 col-sm-6 text-justify">
            <h1 class="text-sm-center">Mundo Travel</h1>
            <p>
                Se parte de nosotros y continúa en esta experiencia de viajar, sigue de cerca nuestros pasos con las últimas noticias y eventos de nuestros próximos viajes y recuerda, tú también puedes ser un viajero y ser parte de esta gran familia.
            </p>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v5.0"></script>
            <div class="fb-page" data-href="https://www.facebook.com/Traveelok/" data-tabs="timeline, events" data-width="500" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false">
                <blockquote cite="https://www.facebook.com/Traveelok/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/Traveelok/">
                        Travel Ok
                    </a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Project/jsBlog.js"></script>
