@{
    ViewBag.Title = "QuienesSomos";
}
<div id="dvFondo">
    <div class="panel-title" id="dvTitQuien">
        <h1>¿Quiénes Somos?</h1>
    </div>
    <div class="dvQuien">
        Somos una operadora de tours que se encarga de crear las mejores experiencias de viaje. Contamos con tres años de experiencia en el ramo, y gracias a la gran aceptación que hemos tenido por
        parte de nuestros “travellers” nos sentimos comprometidos con  brindarles las mejores atenciones para que indiscutiblemente seamos sus acompañantes de viaje por todos  los destinos turísticos
        más importantes de nuestro país.
    </div>

    <div class="container divContenedor">

        <div class="row ">
            <div class="col-md-6 mb-3">
                <h5 class="card-title tituloMision">Misión</h5>
                <p class="card-text textoVision">Ayudar a crear las mejores experiencias de viaje a la comunidad de Travellers.</p>
            </div>
            <div class="col-md-6 mb-3 tituloVision">
                <h5 class="card-title">Visión</h5>
                <p class="card-text textoVision">Ser el acompañante de viaje en grupo preferido de la comunidad viajera en México.</p>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-4 ">
            </div>
            <div class="col-md-4">
                <h5 class="card-title tituloValores">Valores</h5>
                <ul class="textoValores">
                    <li>Excelencia</li>
                    <li>Disciplina</li>
                    <li>Orden</li>
                    <li>limpieza</li>
                    <li>Puntualidad</li>
                    <li>Honestidad</li>
                    <li>Empatía</li>
                    <li>Servicio al prójimo</li>
                </ul>
            </div>
            <div class="col-md-4">

            </div>
        </div>

       </div>




        <!--<div class="contenido">
         <div class="izquierdo">
             <div class="mision">
                 <h5 class="card-title">Misión</h5>
                 <p class="card-text">Ayudar a crear las mejores experiencias de viaje a la comunidad de Travellers.</p>
             </div>
             <div class="vision">
                 <h5 class="card-title">Visión</h5>
                 <p class="card-text">Ser el acompañante de viaje en grupo preferido de la comunidad viajera en México.</p>
             </div>
             <div class="valores">
             </div>
             <div class="final">
                 <h5 class="card-title">Valores</h5>
                 <ul>
                     <li>Excelencia</li>
                     <li>Disciplina</li>
                     <li>Orden</li>
                     <li>limpieza</li>
                     <li>Puntualidad</li>
                     <li>Honestidad</li>
                     <li>Empatía</li>
                     <li>Servicio al prójimo</li>
                 </ul>
             </div>
         </div>
        -->
    </div>


</div>




<link href="~/Content/Project/cssQuienesSomos.css" rel="stylesheet" />