
@{
    ViewBag.Title = "Terminos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Project/cssTerminos.css" rel="stylesheet" />

<div>
    <ul id="ulReserva">
        <li id="liTRes">
            Reservaciones
        </li>
        <li>
            1. Las reservaciones permiten bloquear sus lugares que ocupará durante el viaje
            con un costo para confirmar la asistencia al viaje de acuerdo con su viaje
            seleccionado.
        </li>
        <li>
            2. La reservación es validad hasta que se reciba el comprobante del deposito de
            apartado.
        </li>
        <li>
            3. Una ves que realice su reservación el cliente recibirá un correo electrónico
            confirmando el viaje a realizar, con su documentación que será Contrato, Pase
            de abordar y Recibo de pago.
        </li>
        <li>
            4. Realizar un apartado es un compromiso del cliente para realizar ese viaje.
        </li>
        <li>
            5. Las reservaciones son personales y deben de realizarse con nombre
            completo, fecha de nacimiento, numero celular y correo electrónico que
            deberán ser llenados en nuestra solicitud de servicios turísticos.
        </li>
        <li>
            6. Todo apartado debe de ser confirmado 5 días antes del viaje realizando un
            segundo pago que a complete un 50% del total del viaje y el resto al abordar.
        </li>
        <li>
            7. El pago del 50% es la confirmación de su asistencia si no realiza el deposito
            en la fecha limite se tomara como cancelación sin derecho a reembolso.
        </li>
        <li>
            8. El mínimo de pasajeros pare realizar el viaje es de 30 personas por los cual de
            no completar ese total se cambiara por un transporte de menor capacidad el
            cual se avisara a todos los clientes para la elección de los nuevos lugares.
        </li>
    </ul>

    <ul id="ulCancela">
        <li id="liTCan">
            Cancelaciones
        </li>
        <li>
            1. Las cancelaciones deberán de solicitarse por escrito tres semanas antes de
            realizar el viaje
        </li>
        <li>
            2. En caso de cancelación menor a las tres semanas solo se devolverá hasta
            un 50% del total del viaje y en caso de cancelación con tiempo menor de dos
            semanas no procederá ningún tipo de devolución.
        </li>
        <li>
            3. En caso de que se cancele con 3 días antes del viaje el cliente se obliga a
            pagar el total del viaje.
        </li>
        <li>
            4. Cuando La agencia sea quien cancele por causas imputables a la misma,
            estará obligada a rembolsar a aquél la totalidad de los anticipos o pagos que
            haya efectuado.
        </li>
    </ul>

    <ul id="ulClausula">
        <li id="liTCla">
            Clausulas del viaje
        </li>
        <li>
            1. No aplica reembolso ni re-programación de fecha en caso de llegar tarde al
            lugar de salida. (Llegar 30 min. antes de la hora establecida).
        </li>
        <li>
            2. Obligatorio entregar contrato impreso, firmado por el cliente y copia de su
            credencial, de no hacerlo se cancelara su tour sin derecho a reembolso
        </li>
        <li>
            3. Obligatorio llevar el Pase de Abordar ya sea impreso o en algún dispositivo
            móvil.
        </li>
        <li>
            4. No aplica reembolso, ni re-programación de fecha en caso de extravío del
            Pase de Abordar.
        </li>
        <li>
            5. La fecha establecida para cada Tour está sujeta a cambio por cuestiones
            climatológicas o sucesos inesperados ajenos a la empresa.
        </li>
        <li>
            6. Niños menores de 3 años no pagan boleto. (Sin ocupar asiento) en caso de
            requerir un asiento pregunte por los costos que estos conllevan.
        </li>
        <li>
            7. Tarifas y fechas sujetas a cambio sin previo aviso
        </li>
        <li>
            8. La empresa no se hace responsable por objetos olvidados en la unidad.
        </li>
        <li>
            9. En caso de apartar con algún % el tour quien aparta se compromete pagar el
            otro % en la salida sin excepción alguna, ya que de no pagar los lugares
            reservados, pierde derecho al Tour, sin reembolso.
        </li>
        <li>
            10. No aplica devoluciones del efectivo completo en caso de que exista la
            reprogramación de un viaje, pues no se está cancelando por parte de la
            empresa
        </li>
        <li>
            11. El porcentaje por reclamación del efectivo en caso de reprogramación será del
            50% del total del costo del boleto.
        </li>
        <li>
            12. Travel ok se reserva el derecho de admisión de los pasajeros que se
            encuentre bajo la influencia del alcohol o cualquier otra sustancia psicoactiva,
            por el cual pueda presentar un riesgo a la salud, seguridad o integridad de
            algún pasajero o de el mismo.
        </li>
    </ul>


    <ul id="ulRegla">
        <li id="liTRegla">
            Reglamento de viaje
        </li>
        <li>
            1. Durante el viaje el viajero esta comprometido a cumplir las indicaciones de
            seguridad, organización y horarios del coordinador de viaje, servicios a bordo
            y en su caso de los guías locales de ciertos lugares.
        </li>
        <li>
            2. El viajero acepta que los tiempo son estimados y pueden variar horarios,
            itinerario o actividades en cualquier etapa del viaje por causas de fuerza
            mayor o cualquier otro imprevisto.
        </li>
        <li>
            3. Se dará una tolerancia de 10 minutos para llegar al autobús después de una
            actividad por respeto al resto de los viajeros, en caso de no llegar ni
            comunicarse el viaje continuara de acuerdo a lo planeado siendo
            responsabilidad del viajero alcanzar con sus propios medios al grupo o
            regresar al hotel o área de camping.
        </li>
        <li>
            4. Es importante estar puntualmente a la hora indicada para volver a la Ciudad
            de Origen, en caso de que faltara una persona se brindara una tolerancia de
            20 minutos y se tratará de comunicar mediante llamada telefónica con el
            cliente para saber sobre su ubicación en caso de no contestar ni llegar en el
            limite de los 20 minutos, el viaje de regreso iniciara y será responsabilidad del
            viajero el regreso por sus medios a la ciudad de origen, sin reembolso o
            responsabilidad para la empresa pues el cliente no cumplió con las
            indicaciones.
        </li>
        <li>
            5. El seguro del viajero el vigente durante los trayectos en el autobús de viaje
            fuera de el cada viajero es responsable de su integridad y seguridad en caso
            de no seguir las indicaciones de los guías y coordinadores, de igual forma se
            cuenta con botiquín y nuestros coordinadores están capacitados en darle los
            primeros auxilios.
        </li>
        <li>
            6. Queda totalmente prohibido consumir sustancias tóxicas, estupefacientes o
            bebidas alcohólicas en el autobús o camionetas. Fuera del transporte cada
            participante es responsable de su salud y consumo con moderación.
        </li>
        <li>
            7. Nuestros coordinadores y servicios abordo están para ayudarle, cualquier
            duda u orientación que se presente ellos la resolverán.
        </li>
        <li>
            8. El autobús puede contar o no con enchufes para la carga del celular los cuales
            estarán disponibles para el uso general concediendo 20 minutos por persona
            esto con la finalidad de que todos los asistentes puedan utilizar el servicio.
        </li>
    </ul>
</div>








