
@{
    ViewBag.Title = "Index";
}

<h2 id="hBienv">Bienvenido </h2>

<div class="container col-12">
    <div class="row col-12">
        Aqui podra realizar la actualizacion de sus pagos, suba sus bauchers correspondientes.
    </div>
    <div class="row col-12">
        <div class="card">
            <div class="card-header">
                Cancun - 12/06/2020
            </div>
            <div class="card-body">
                <p>Usted tiene un adeudo de :</p>
                <a href="#" class="btn btn-primary">Subir Pago</a>
                <footer class="blockquote-footer">Se evaluara la informacion y se cambiara el estatus</footer>
            </div>
        </div>
    </div>
</div>