
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/Project/jsPerfil.js"></script>
<h2 id="hBienv">Bienvenido </h2>

<div class="container col-12">
    <div class="row col-12 mb-5">
        Aqui podra realizar la actualizacion de sus pagos, suba sus bauchers correspondientes.
    </div>
    <div class="row col-12" id="dvDeudas">
    </div>
</div>

<input type="hidden" id="urlInicialPerfil" value="@Url.Action("InicialPerfil","Perfil")" />
<input type="hidden" id="urlInsertaPago" value="@Url.Action("InsertaPago","Perfil")" />