@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actualizacion de salidas</h2>

<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Insertar Salida
                </button>
            </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form>
                    <input class="form-control" id="inSalida" placeholder="Escribe de donde salimos." />
                    <div id="btnAgregarSal" class="btn btn-primary">Agregar Salida</div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Editar Salida
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTres">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres">
                    Eliminar Salida
                </button>
            </h5>
        </div>
        <div id="collapseTres" class="collapse" aria-labelledby="headingTres" data-parent="#accordion">
            <div class="card-body">
                <form class="form-group">
                    <select class="form-control" id="selSalida">
                        <option value="0">Seleccione la Salida que deseas eliminar</option>
                    </select>
                    <div id="btnEliminaCiudad" class="btn mt-3 btn-primary">Eliminar Ciudad</div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/Project/jsSalida.js"></script>
<link href="~/Content/Project/cssSalida.css" rel="stylesheet" />

<input type="hidden" id="urlDestinoInicial" value="@Url.Action("ObtieneSaalidas","Salidas")" />
<input type="hidden" id="urlSalidaInserta" value="@Url.Action("InsertaSalida","Salidas")" />
<input type="hidden" id="urlSalidaEliminaId" value="@Url.Action("EliminaSalidaId","Salidas")" />