
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row col-10 m-auto">
        <h2>Encuesta de Calidad y satisfacción en el servicio “Travel Ok”</h2>

        <div class="Text">
            Tour: <label id="lbTour"></label> Fecha <label id="lbFecha"></label>
        </div>
        <div class="Text mt-0">
            <div>
                <form class="form-group">
                    <select class="form-control" id="selDestinos">
                        <option value="0">Selecciona el destino que te gustaría evaluar</option>
                    </select>
                    @*<div sid="btnEliminaDestino" class="btn btn-primary">Elimina Destino</div>*@
                </form>
            </div>
        </div>
        <div class="col-12" id="dvPreguntas">

        </div>

        <div class="container mt-5">
            <div class="btn btn-primary btn-block" id="btnSend">
                Enviar Encuesta
            </div>
        </div>

        <div class="col-12 foot">
            “EL EQUIPO DE TRAVEL OK AGRADECE TU PREFERENCIA”
        </div>
    </div>
</div>

<link href="~/Content/Project/cssEncuesta.css" rel="stylesheet" />
<script src="~/Scripts/Project/jsEncuesta.js"></script>
<input type="hidden" id="urlDestinoInicial" value="@Url.Action("InicialEncuesta","Encuesta")" />
<input type="hidden" id="urlEnviarEncuesta" value="@Url.Action("RecibeEncuesta","Encuesta")" />
