
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row col-10 m-auto">
        <h2>Encuesta de Calidad y satisfacción en el servicio “Travel Ok”</h2>

        <div class="Text">
            Tour: <label id="lbTour"></label> Fecha <label id="lbFecha"></label>
        </div>
        <div class="col-12">
            <div class="Text mt-0">
                <div>
                    <form class="form-group">
                        <select class="form-control" id="selDestinos">
                            <option value="0">Selecciona el destino que te gustaría evaluar</option>
                        </select>
                        @*<div sid="btnEliminaDestino" class="btn btn-primary">Elimina Destino</div>*@
                    </form>
                </div>
            </div>
            <div class="Text">
                ¿Cómo valorarías la atención online de la página de Facebook a la hora de solicitar informes el viaje?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p1">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>
                <!--<div class="col-2 d-flex justify-content-between">
            <div class="c1 c"></div>
        </div>
        <div class="col-2 d-flex justify-content-between">
            <div class="c2 c"></div>
        </div>
        <div class="col-2 d-flex justify-content-between">
            <div class="c3 c"></div>
        </div>
        <div class="col-2 d-flex justify-content-between">
            <div class="c4 c"></div>
        </div>
        <div class="col-2 d-flex justify-content-between">
            <div class="c5 c"></div>
        </div>
    </div>-->
            </div>

        <div class="col-12">
            <div class="Text">
                ¿Qué tan rápida consideras que fue la atención de tu ejecutivo de ventas?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p2">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                ¿Le entregaron la documentación de su viaje en tiempo y forma? A más tardar en 1 día hábil
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p3">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                ¿Cómo consideras que fue la atención del COORDINADOR del viaje?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p4">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                ¿Cómo consideras que fue la atención del STAFF?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p5">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>
        <div class="col-12">
            <div class="Text">
                El transporte:
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p6">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                El área de hospedaje y sus servicios:
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p7">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                Servicio de Snaks:
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p8">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                ¿Cuál es la probabilidad de volver a viajar con Travel Ok o de recomendarnos?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p9">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                ¿Qué te parecieron las rutas y lugares de visita?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p10">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                ¿Cómo consideras la relación calidad/precio del tour?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p11">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                ¿Cómo calificas la satisfacción sobre el servicio brindado?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p12">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                ¿Travel Ok cumplió con sus expectativas del viaje?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p13">
                <div class="col-2 d-flex justify-content-between">
                    <div class="c5 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c4 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c3 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c2 c"></div>
                </div>
                <div class="col-2 d-flex justify-content-between">
                    <div class="c1 c"></div>
                </div>

            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                ¿Cuáles viajes te gustaría que Travel Ok realizara en un futuro?
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p14">
                <textarea></textarea>
            </div>
        </div>

        <div class="col-12">
            <div class="Text">
                Comentarios adicionales sobre su viaje y el servicio prestado
            </div>
            <div class="row col-12 rate-layer d-flex justify-content-between pregunta" id="p15">
                <textarea></textarea>
            </div>
        </div>

        <div class="container mt-5">
            <div class="btn btn-primary btn-block" id="btnSend">
                Enviar Encuesta
            </div>
        </div>

        <div class="col-12 foot">
            “EL EQUIPO DE TRAVEL OK AGRADECE TU PREFERENCIA”
        </div>
    </div>
</div>

<link href="~/Content/Project/cssEncuesta.css" rel="stylesheet" />
<script src="~/Scripts/Project/jsEncuesta.js"></script>
<input type="hidden" id="urlDestinoInicial" value="@Url.Action("InicialEncuesta","Encuesta")" />
<input type="hidden" id="urlEnviarEncuesta" value="@Url.Action("RecibeEncuesta","Encuesta")" />