
.dvPublicacion{
margin-bottom: 50px;
}

.divImagen {
    margin-top: 20px;
    margin-left: 10px;
}

.divTitulo {
    text-align: center;

}

.dvValues {
    justify-content: center
}


.titDest {
    margin-top: 1rem !important;
    margin-bottom: 2rem !important;
    font-style: italic;
    text-align: center;
    width: 25rem;
    height: 6rem;
}

.modalTitulo{
    font-size:30px;
}

#detalle {
    max-width: 70%;
    height: 60%;
    background-color: white;
}

.modalAutor{
    padding-left: 20px;

}

.modalFecha {
    padding-left: 20px;
}



@media (max-width: 503px) {
    .titDest {
        width: 15rem;
        height: 6rem;
    }
}
