#liCon {
    border-top-style: solid;
}

.mapouter {
    float: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dvFlexContact {
    background-color: #222222;
    color: #ffffff;
    opacity: .9;
    border-radius: 0.3rem;
}

#dvMap{
    height:20rem;
}

.htitle {
    color: #ffffff;
    font-size: 85pt;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
}