.c1 {
    background-image: url('../../Img/Encuesta/C4.png');    
}

.c1, .c2, .c3, .c4, .c5 {
    background-size: contain;
    width: 3rem;
    margin: 0 auto;
}

.c2 {
    background-image: url('../../Img/Encuesta/C3.png');
}

.c3 {
    background-image: url('../../Img/Encuesta/C2.png');
}

.c4 {
    background-image: url('../../Img/Encuesta/C1.png');
}

.c5 {
    background-image: url('../../Img/Encuesta/C0.png');
}

.c{
    cursor:pointer;
}
.rate-layer, .rate-layer div{
    height: 3rem;
}

.Text{
    font-size:21pt;
    margin-bottom:2rem;
    margin-top:2rem;
}

.foot {
    font-size: 15pt;
    margin-top: 2rem;
    float: right;
    text-align: right;
}