.c-1 {
    background-image: url('../../Img/Encuesta/C0.png');    
}

.c-1, .c-2, .c-3, .c-4, .c-5 {
    background-size: contain;
    width: 3rem;
    margin: 0 auto;
    border-radius: 1.5rem;
}

.c-2 {
    background-image: url('../../Img/Encuesta/C1.png');
}

.c-3 {
    background-image: url('../../Img/Encuesta/C2.png');
}

.c-4 {
    background-image: url('../../Img/Encuesta/C3.png');
}

.c-5 {
    background-image: url('../../Img/Encuesta/C4.png');
}

.c{
    cursor:pointer;
}
.rate-layer, .rate-layer div{
    height: 3rem;
}

.Text{
    font-size:21pt;
    margin-bottom:2rem;
    margin-top:2rem;
}

.foot {
    font-size: 15pt;
    margin-top: 2rem;
    float: right;
    text-align: right;
}

textarea {
    resize: none;
    width: 1200px;
    height: 70px;
}

.foot {
    margin-right: 80px;
}