#liQui {
    border-top-style: solid;
}
.dvEmpresa {
    border-radius: 0.5rem;
    opacity: 0.9;
    font-size: 23pt;
    text-align: left;
}

body {
   background-color: #ffffff;
}

.dvQuien {
    opacity: 0.8;
    font-size: 18pt;
    text-align: justify;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

li {
    display: block;
}

#carouselExampleControls {
    margin: 0 auto;
    margin-bottom: 1rem;
}

#ulVal{
    margin:0px;
    padding:0px;
}

#dvTitQuien {
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.card-group{
    font-size:17pt;
}

.card-title{
    font-size:2.25rem;
}


.contenido {
  
    width: 1550px;
    height: 500px;
}


.mision {
    text-align: center;
    float:left;
    width: 387px;
    height: 150px;

}

.vision {
    text-align: center;
    float: left;
    width: 387px;
    height: 150px;

}

.valores {
    float: right;
    width: 776px;
    height: 500px;
    background: black;
}

.final {
    text-align: center;
 }

ul{
    padding-left:10px;
}


.divContenedor{
    border-style:none;
}

.tituloMision, .tituloVision {
    text-align:center;
}


.textoVision, .textoMision, .textoValores, .tituloValores {
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
    margin-top:1rem;
}