
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actividades para el blog.</h2>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <input type="text" class="form-control" id="inTitulo" placeholder="Título de anúncio."/>
        <textarea class="form-control" placeholder="Inserta el texto que tendrá el anuncio." id="txTexto"> </textarea>
        <input type="file" id="fileinput" accept=".png, .jpg, .jpeg"/>
        <button id="btnInsertar" class="btn btn-primary">Agregar al blog</button>
        <p></p>
    </div>
</div>

<link href="~/Content/Project/cssActividades.css" rel="stylesheet" />