@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Administración Travel Ok</h1>
    <p class="lead">Se encuentra dentro del sistema de administración de Travel Ok, podrá acceder a las diversas opciones para configurar el portal Travel Ok.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Empecemos</h2>
        <p>Podrá navegar a través de las opciones para modificar el sistema.</p>
    </div>
    <div class="col-md-4">
        <h2>Pida permisos</h2>
        <p>Si no ve alguna opción y es parte de sus funciones, solicite a un administrador se le den permisos.</p>
    </div>
    <div class="col-md-4">
        <h2>Buzón de comentarios</h2>
        <p>Podrá dar una opinión anónima en caso de tener algún disgusto, somos un equipo y buscaremos siempre mejorar.</p>
    </div>
</div>